<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Video Translation App</title>
  </head>
  <body>
    <nav
      id="navbar-main"
      class="navbar navbar-main navbar-expand-lg bg-white navbar-light position-sticky top-0 shadow py-2"
    >
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand mr-lg-5" href="{{ url_for('home') }}">
          <img
            src="{{ url_for('static',
          filename='assets/img/brand/blue.png') }}"
          />
        </a>

        <!-- Toggle Button -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbar_global"
          aria-controls="navbar_global"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Items -->
        <div class="navbar-collapse collapse" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="{{ url_for('home') }}">
                  <img
                    src="{{ url_for('static',
                  filename='assets/img/brand/blue.png') }}"
                  />
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button
                  type="button"
                  class="navbar-toggler"
                  data-toggle="collapse"
                  data-target="#navbar_global"
                  aria-controls="navbar_global"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>

          <!-- Navbar Links -->
          <ul class="navbar-nav align-items-lg-center ml-auto">
            <!-- Github Icon -->
            <li class="nav-item">
              <a
                class="nav-link nav-link-icon"
                href="https://github.com/ChiragBellara/Video-Translation-Using-Deep-Learning"
                target="_blank"
                data-toggle="tooltip"
                title="Visit our Github"
              >
                <i class="fa fa-github"></i>
                <span class="nav-link-inner--text d-lg-none">Github</span>
              </a>
            </li>

            <!-- How it works Button (Different Style) -->
            <li class="nav-item">
              <a class="btn btn-success" href="{{ url_for('howItWorks') }}">
                <span class="nav-link-inner--text">How it works</span>
              </a>
            </li>

            <!-- About Button -->
            <li class="nav-item">
              <a class="btn btn-outline-primary" href="{{ url_for('about') }}">
                <span class="nav-link-inner--text">About</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <div class="container mt-5">
      <div class="jumbotron">
        <h1 class="display-4">Video Translation using Deep Learning</h1>
        <p class="lead">
          Enter the URL of the video you want to translate or upload a video
          file.
        </p>

        <form
          action="{{ url_for('translate_video')}}"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label for="videoUrl">Video URL:</label>
            <input
              type="text"
              class="form-control"
              id="videoUrl"
              name="videoUrl"
              placeholder="Video URL"
            />
          </div>

          <div class="form-group">
            <label for="videoFile">Or upload a video file:</label>
            <input
              type="file"
              class="form-control-file"
              id="videoFile"
              name="videoFile"
            />
          </div>

          <button type="submit" class="btn btn-primary" id="translateButton">
            Translate
          </button>
        </form>
      </div>

      {% if showVideos %}
      <div class="row">
        <div class="text-center">
          <h6 class="videoHeader">Original Video</h6>
          <video width="100%" controls>
            <source
              src="{{ url_for('static', filename='origninalVideo.mkv') }}"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>

        <div class="text-center">
          <h6 class="videoHeader">Translated Video</h6>
          <video width="100%" controls>
            <source
              src="{{ url_for('static', filename='translatedVideoFinal.mkv') }}"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
