<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Video Translation App</title>
  </head>
  <body>
    <div class="container">
      <h1>Video Translation using Deep Learning</h1>
      <p>Enter the URL of the video you want to translate:</p>
      <form action="{{ url_for('getURL')}}" method="post">
        <input
          type="text"
          id="videoUrl"
          name="videoUrl"
          placeholder="Video URL"
        />
        <button type="submit" id="translateButton">Translate</button>
      </form>
      <div class="output-box">
        <h4>OpenAI Whisper</h4>
        <p>{{WhisperOutcome}}</p>
      </div>
      <div class="output-box">
        <h4>Machine Translation</h4>
        <p>{{TranslationOutcome}}</p>
      </div>
      <div class="center">
        <video width="640" height="480" controls>
          <source
            src="{{ url_for('static', filename='your_video.mp4') }}"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </body>
</html>
